body {
  background-color: gray;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
}

header {
  background-color: skyblue;
  color: white;
  padding: 1px;
  text-shadow: 1px 1px 3px black;
}

h2, h3, h4 {
  color: white;
  margin-left: 10px;
  margin-bottom: 0px;
  text-shadow: 0px 0px 3px black;
}

a {
  color: white;
  active: white;
  hover: azure;
  visited: azure;
  text-decoration: none;
}

#lineBlock {
  background-color: #FFD000;
  width: 300px;
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
  margin-left: 0px;
  margin-top: 35px;
  opacity: 0.5;
  vertical-align: bottom;
  float: left;
}

#namePanel {
  background-color: skyblue;
  box-shadow: -5px -5px rgba(196, 196, 196, 0.5);
  width: 300px;
  height: 100px;
  margin-left: 10px;
  margin-right: 20px;
  float: left;
}

#bioPanel {
  background-color: azure;
  box-shadow: -5px -5px rgba(196, 196, 196, 0.5);
  color: black;
  width: 40%;
  padding: 20px;
  padding-top: 5px;
  margin: 0px;
  margin-top: -2px;
  float: left;
}

#title {
  margin-left: 10px;
  margin-bottom: 16.380px;
}

#name {
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.contact {
  margin-top: 0px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.sectionTitle {
  margin-top: 6px;
  margin-left: 0px;
}

ol, ul {
  margin-left: 0px;
  padding-left: 25px;
}
